/*Style sheet created by: Arush Abraham Jose, C0745801 */

/* Media query for mobile layout */

@media only screen and (min-width: 320px) {
	

	/* Style for the container centers the page and specifies the width */
	#container {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		background-color: #FFFFFF;
		font-size: 1.25em;
		 font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	
	}

	/* Style for the header specifies top margin, background color, rounded corners, and center align content */
	header {
		font-family: "Helvetica Neue", Verdana, Arial, serif;
		font-size: 2em;
		margin-top: 0.2em;
		background-color: #FFFFFF;
		border-radius: 0.5em;
		text-align: center;
	}

	/* Style for the main specifies a block display, text properties, margins, padding, rounded corners, and borders  */
	main {
		display: block;
		font-family: "Helvetica Neue", Georgia, "Times New Roman", sans-serif;
		font-size: 1em;
		margin-top: 0.5em;
		padding: 1em;
		background-color: #FFFFFF;
		border-top: solid 0.2em #336699; 
		border-bottom: solid 0.2em #336699;
	}

	/* Style to create a fluid image */
	#banner_image {
			width: 80%;
			background-size: cover;
			float: right;
		}

	/* To clear the content off the image and not to wrap around it */
	#nav_main {
		clear: right;
	}

	#welcome_image {
		width: 10%;
		float: left;
	}

	#potw {
		clear: left;
		text-align: center;
		font-weight: bold;
	}

	#potw h3 {
		color: white;
		background-color: #333;
		font-family: "Helvetica Neue" , Arial;
		padding: 14px 16px;
	}
		
	#potw_img {
		width: 75%;
		}

	.banner {
	  overflow: hidden;
	  background-color: #333;
	  font-family: "Helvetica Neue", Arial;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  clear: left;
	}	
		
		
	/* Nav container */
	.nav {
		overflow: hidden;
		background-color: #333;
	}
	
	#links {
	  display: none;
	}


	.nav a.icon {
	  background: black;
	  display: block;
	  position: absolute;
	  right: 0;
	  top: 0;
	}


	.active {
	  background-color: #4CAF50;
	  color: white;
	  font-weight: bold;
	}
	
	.nav {
	text-align: center;
	margin-top: -1.5em;
	  overflow: hidden;
	  background-color: #333;
	  font-family: "Helvetica Neue", Arial;
	}

	/* Links inside the navbar */
	.nav a {
	  font-size: 16px;
	  color: white;
	  text-align: center;
	  text-decoration: none;
	  display: block;
	margin: 0.3em;
	padding: 0.4em;
	}

	/* The dropdown container */
	.dropdown {
	  overflow: hidden;
	  
	margin: 0.3em;
	padding: 0.4em;
	  
	}

	/* Dropdown button */
	.dropdown .dropbtn {
	  font-size: 16px; 
	  border: none;
	  outline: none;
	  color: white;
	  padding: 0.4em;
	  background-color: inherit;
	  font-family: inherit; /* Important for vertical align on mobile phones */
	  margin: 0; /* Important for vertical align on mobile phones */
	}

	/* Add a red background color to navbar links on hover */
	.nav a:hover, .dropdown:hover .dropbtn {
	  background-color: red;
	}

	/* Dropdown content (hidden by default) */
	.dropdown-about {
	  display: none;
	  position: absolute;
	  background-color: #f9f9f9;
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	}

	/* Links inside the dropdown */
	.dropdown-about a {
	  float: none;
	  color: black;
	  padding: 12px 16px;
	  text-decoration: none;
	  display: block;
	  text-align: left;
	}

	/* Add a grey background color to dropdown links on hover */
	.dropdown-about a:hover {
	  background-color: #ddd;
	}

	/* Show the dropdown menu on hover */
	.dropdown:hover .dropdown-about {
	  display: block;
	}

	/* Style for the footer specifies font size, text alignment, and top margin */
	footer {
		font-size: .70em;
		text-align: center;
		margin-top: 2em;
	}


	/* TEAM PAGE */

	#team_image {
		width: 25%;
	}


	/* Three image containers (use 25% for four, and 50% for two, etc) */
	.column {
	  float: left;
	  width: 25%;
	  padding: 5px;
	}

	.row {
		box-sizing: border-box;
	}

	/* Clear floats after image containers */
	.row::after {
	  content: "";
	  clear: both;
	  display: table;
	}

	figcaption {
		text-align: center;
		font-family: "Helvetica Neue", Serif;
		font-size: 1.5em;
	}

	/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
	@media screen and (max-width: 500px) {
	  .column {
		width: 100%;
	  }
	}

	/* PRODUCTS PAGE */


	/* Cards */

.card {
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
		width: 40%;
		border-radius: 5px;
		padding: 15px 11px;
		margin: 5px;
		float: left;
	}

	.card:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}

	.card_image {
		border-radius: 5px 5px 0 0;
	}

	.container {
		padding: 2px 6px;
	}

	/* CONTACT PAGE */

	#contact {
		max-width: 100%;	
	}
	
	#help_image {
		width: 20%;
		float: left;
		padding: 2%;
	}

	/* Style displays the mobile class */
	.mobile {
		display: inline;
	}

	/* Style displays the tablet class */
	.tablet {
		display: none;
	}
	
	/* Style displays the desktop class */
		
	.desktop {
		display: none;
	}

	
}

/* Media query for tablet layout */

@media only screen and (min-width: 680px) {
	

	/* Style for the container centers the page and specifies the width */
	#container {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		background-color: #FFFFFF;
		font-size: 1.25em;
	}

	/* Style for the header specifies top margin, background color, rounded corners, and center align content */
	header {
		font-family: "Helvetica Neue", Verdana, Arial, serif;
		font-size: 2em;
		margin-top: 0.2em;
		background-color: #FFFFFF;
		border-radius: 0.5em;
		text-align: center;
	}

	/* Style for the main specifies a block display, text properties, margins, padding, rounded corners, and borders  */
	main {
		display: block;
		font-family: "Helvetica Neue", Georgia, "Times New Roman", sans-serif;
		font-size: 1em;
		margin-top: 0.5em;
		padding: 1em;
		background-color: #FFFFFF;
		border-top: solid 0.2em #336699; 
		border-bottom: solid 0.2em #336699;
	}

	/* Style to create a fluid image */
	#banner_image {
			max-width: 100%;
			width: 40%;
			background-size: cover;
			float: right;
		}

	/* To clear the content off the image and not to wrap around it */
	#nav_main {
		clear: right;
	}

	#welcome_image {
		width: 10%;
		float: left;
	}

	#potw {
		clear: left;
		text-align: center;
		font-weight: bold;
	}

	#potw h3 {
		color: white;
		background-color: #333;
		font-family: "Helvetica Neue" , Arial;
		padding: 14px 16px;
	}
		
		#potw_img {
		width: 65%;
		}


	.banner {
	  overflow: hidden;
	  background-color: #333;
	  font-family: "Helvetica Neue", Arial;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  clear: left;
	}	
		
	/* Nav container */
	.nav {
	  overflow: hidden;
	  background-color: #333;
	  font-family: "Helvetica Neue", Arial;
	}

	/* Links inside the navbar */
	.nav a {
	  float: left;
	  font-size: 16px;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	}

	/* The dropdown container */
	.dropdown {
	  float: left;
	  overflow: hidden;
	  
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
	}

	/* Dropdown button */
	.dropdown .dropbtn {
	  font-size: 16px; 
	  border: none;
	  outline: none;
	  color: white;
	  padding: 14px 16px;
	  background-color: inherit;
	  font-family: inherit; /* Important for vertical align on mobile phones */
	 margin-top: 4.5px;
	}

	/* Add a red background color to navbar links on hover */
	.nav a:hover, .dropdown:hover .dropbtn {
	  background-color: red;
	}

	/* Dropdown content (hidden by default) */
	.dropdown-about {
	  display: none;
	  position: absolute;
	  background-color: #f9f9f9;
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	}

	/* Links inside the dropdown */
	.dropdown-about a {
	  float: none;
	  color: black;
	  padding: 12px 16px;
	  text-decoration: none;
	  display: block;
	  text-align: left;
	}

	/* Add a grey background color to dropdown links on hover */
	.dropdown-about a:hover {
	  background-color: #ddd;
	}

	/* Show the dropdown menu on hover */
	.dropdown:hover .dropdown-about {
	  display: block;
	}

	/* Style for the footer specifies font size, text alignment, and top margin */
	footer {
		font-size: .70em;
		text-align: center;
		margin-top: 2em;
	}


	/* TEAM PAGE */

	#team_image {
		width: 25%;
	}


	/* Three image containers (use 25% for four, and 50% for two, etc) */
	.column {
	  float: left;
	  width: 25%;
	  padding: 5px;
	}

	.row {
		box-sizing: border-box;
	}

	/* Clear floats after image containers */
	.row::after {
	  content: "";
	  clear: both;
	  display: table;
	}

	figcaption {
		text-align: center;
		font-family: "Helvetica Neue", Serif;
		font-size: 1.5em;
	}

	/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
	@media screen and (max-width: 500px) {
	  .column {
		width: 100%;
	  }
	}

	/* PRODUCTS PAGE */


	/* Cards */

	.card {
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
		width: 20%;
		border-radius: 5px;
		padding: 20px 16px;
		margin: 10px;
		float: left;
	}

	.card:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}

	.card_image {
		border-radius: 5px 5px 0 0;
	}

	.container {
		padding: 2px 16px;
	}

	/* CONTACT PAGE */

	#help_image {
		width: 10%;
		float: left;
		padding: 2%;
	}

	/* Style displays the mobile class */
	.mobile {
		display: none;
	}

	/* Style displays the tablet class */
	.tablet {
		display: inline;
	}
	
	/* Style displays the desktop class */
		
	.desktop {
		display: none;
	}

	
}

/* Media query for desktop layout */

@media only screen and (min-width: 1024px) {
	

	/* Style for the container centers the page and specifies the width */
	#container {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		background-color: #FFFFFF;
		font-size: 1.25em;
	}

	/* Style for the header specifies top margin, background color, rounded corners, and center align content */
	header {
		font-family: "Helvetica Neue", Verdana, Arial, serif;
		font-size: 2em;
		margin-top: 0.2em;
		background-color: #FFFFFF;
		border-radius: 0.5em;
		text-align: center;
	}

	/* Style for the main specifies a block display, text properties, margins, padding, rounded corners, and borders  */
	main {
		display: block;
		font-family: "Helvetica Neue", Georgia, "Times New Roman", sans-serif;
		font-size: 1em;
		margin-top: 0.5em;
		padding: 1em;
		background-color: #FFFFFF;
		border-top: solid 0.2em #336699; 
		border-bottom: solid 0.2em #336699;
	}

	/* Style to create a fluid image */
	#banner_image {
			max-width: 100%;
			width: 40%;
			background-size: cover;
			float: right;
		}

	/* To clear the content off the image and not to wrap around it */
	#nav_main {
		clear: right;
	}

	#welcome_image {
		width: 10%;
		float: left;
	}

	#potw {
		clear: left;
		text-align: center;
		font-weight: bold;
	}

	#potw h3 {
		color: white;
		background-color: #333;
		font-family: "Helvetica Neue" , Arial;
		padding: 14px 16px;
	}
	
	#potw_img {
		width: 25%;
		}
	
	
	.banner {
	  overflow: hidden;
	  background-color: #333;
	  font-family: "Helvetica Neue", Arial;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  clear: left;
	}	
		
	/* Nav container */
	.nav {
	  overflow: hidden;
	  background-color: #333;
	  font-family: "Helvetica Neue", Arial;
	}

	/* Links inside the navbar */
	.nav a {
	  float: left;
	  font-size: 16px;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	}

	/* The dropdown container */
	.dropdown {
	  float: left;
	  overflow: hidden;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
	}

	/* Dropdown button */
	.dropdown .dropbtn {
	  font-size: 16px; 
	  border: none;
	  outline: none;
	  color: white;
	  padding: 14px 16px;
	  background-color: inherit;
	  font-family: inherit; /* Important for vertical align on mobile phones */
	  margin-top: 4.5px;
	}

	/* Add a red background color to navbar links on hover */
	.nav a:hover, .dropdown:hover .dropbtn {
	  background-color: red;
	}

	/* Dropdown content (hidden by default) */
	.dropdown-about {
	  display: none;
	  position: absolute;
	  background-color: #f9f9f9;
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	}

	/* Links inside the dropdown */
	.dropdown-about a {
	  float: none;
	  color: black;
	  padding: 12px 16px;
	  text-decoration: none;
	  display: block;
	  text-align: left;
	}

	/* Add a grey background color to dropdown links on hover */
	.dropdown-about a:hover {
	  background-color: #ddd;
	}

	/* Show the dropdown menu on hover */
	.dropdown:hover .dropdown-about {
	  display: block;
	}

	/* Style for the footer specifies font size, text alignment, and top margin */
	footer {
		font-size: .70em;
		text-align: center;
		margin-top: 2em;
	}


	/* TEAM PAGE */

	#team_image {
		width: 25%;
	}


	/* Three image containers (use 25% for four, and 50% for two, etc) */
	.column {
	  float: left;
	  width: 25%;
	  padding: 5px;
	}

	.row {
		box-sizing: border-box;
	}

	/* Clear floats after image containers */
	.row::after {
	  content: "";
	  clear: both;
	  display: table;
	}

	figcaption {
		text-align: center;
		font-family: "Helvetica Neue", Serif;
		font-size: 1.5em;
	}

	/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
	@media screen and (max-width: 500px) {
	  .column {
		width: 100%;
	  }
	}

	/* PRODUCTS PAGE */


	/* Cards */

	.card {
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
		width: 20%;
		border-radius: 5px;
		padding: 20px 16px;
		margin: 10px;
		float: left;
	}

	.card:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}

	.card_image {
		border-radius: 5px 5px 0 0;
	}

	.container {
		padding: 2px 16px;
	}

	/* CONTACT PAGE */

	#help_image {
		width: 10%;
		float: left;
		padding: 2%;
	}

	/* Style displays the mobile class */
	.mobile {
		display: none;
	}

	/* Style displays the tablet class */
	.tablet {
		display: none;
	}
	
	/* Style displays the desktop class */
		
	.desktop {
		display: inline;
	}

}