/*Style sheet created by: Arush Abraham Jose, C0745801 */

article {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    max-width: 100%;
	border: 5px solid yellowgreen;
	padding-left: 20px;
}

section {
	padding-left: 30px;
}

#team .card{
	max-width: 100%;
}